@import "../../assets/styles/vars.scss";

.recommendations {
    // .recommendations__title
    &__title {
        margin-bottom: 30px;
        @media (max-width: $tablet) {
            margin-bottom: 13px;
        }
    }
    // .recommendations-page__list-message
    &__list-message {
        margin-top: 30px;
    }
}