.register {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    // .register__body
    &__body {
        max-width: 400px;
        width: 100%;
        background-color: #2c2c38;
        padding: 15px;
        border-radius: 10px;
    }
    // .register__title
    &__title {
        font-size: 20px;
        text-align: center;
        margin-bottom: 20px;
    }
    // .register__text
    &__text {
        color: rgba(#fff, 0.6);
        font-size: 14px;
        text-align: center;
    }
    // .register__link
    &__link {
        font-size: 14px;
        color: #5a5aff;
        &:hover {
            text-decoration: underline;
        }
    }
}
