.bookmarks-page {
    // .bookmarks-page__search
    &__search {
        margin-bottom: 20px;
    }
    // .bookmarks-page__movies
    &__movies {
        margin-bottom: 50px;
    }
    // .bookmarks-page__title
    &__title {
        margin-bottom: 40px;
    }
}