@import "../../../assets/styles/vars.scss";

.description-poster {
    height: 427px;
    background-color: #464646;
    @media (max-width: $tablet) {
        height: 300px;
        max-width: 210px;
        margin: 0 auto;
    }
    // .description-poster__img
    &__img {
        display: block;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}