@import "../../../assets/styles/vars.scss";

.review {
    background-color: rgba($grey, 0.4);
    max-width: 600px;
    padding: 20px;
    border-radius: 10px;
    @media (max-width: $mobileMiddle) {
        max-width: 100%;
    }
    &--positive {
        background-color: rgb(125 224 125 / 40%);
    }
    &--negative {
        background-color: rgba(#d24747, 0.5);
    }
    // .review__title
    &__title {
        font-size: 21px;
        margin-bottom: 15px;
        font-weight: 700;
    }
    // .review__content
    &__content {
        overflow: hidden;
        max-height: 97px;
        margin-bottom: 15px;
        &--full {
            max-height: none;
        }
    }
    // review__text
    &__text {
        font-size: 16px;
    }
    // review__view-btn
    &__view-btn {
        background-color: white;
        border-radius: 5px;
        padding: 3px 5px;
        margin-bottom: 15px;
    }
    // .reviews__actions
    &__actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        @media (max-width: $mobileSmall) {
            flex-direction: column-reverse;
        }
    }
    // .reviews__actions-wrapper
    &__actions-wrapper {
        display: flex;
        gap: 10px;
        align-items: center;
    }
}
