@import "../../../assets/styles/vars.scss";

.review-preview {
    background-color: $grey;
    max-width: 600px;
    padding: 20px;
    border-radius: 10px;
    @media (max-width: $mobileMiddle) {
        max-width: 100%;
    }
    &--positive {
        background-color: #7dc77d;
    }
    &--negative {
        background-color: #d96464;
    }
    // .review-preview__title
    &__title {
        font-size: 21px;
        margin-bottom: 15px;
        font-weight: 700;
    }
    // .review-preview__content
    &__content {
        overflow: hidden;
        max-height: 97px;
        &--full {
            max-height: none;
        }
    }
    // .review-preview__text
    &__text {
        font-size: 16px;
    }
    // .review-preview__view-btn
    &__view-btn {
        background-color: white;
        border-radius: 5px;
        padding: 3px 5px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}
